@font-face {
  font-family: 'Lato';
  src: local("Lato Hairline"), local("Lato-Hairline"), url("lato/latohairline.woff2") format("woff2"), url("lato/latohairline.woff") format("woff"), url("lato/latohairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("lato/latohairlineitalic.woff2") format("woff2"), url("lato/latohairlineitalic.woff") format("woff"), url("lato/latohairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Thin"), local("Lato-Thin"), url("lato/latothin.woff2") format("woff2"), url("lato/latothin.woff") format("woff"), url("lato/latothin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("lato/latothinitalic.woff2") format("woff2"), url("lato/latothinitalic.woff") format("woff"), url("lato/latothinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Light"), local("Lato-Light"), url("lato/latolight.woff2") format("woff2"), url("lato/latolight.woff") format("woff"), url("latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("lato/latolightitalic.woff2") format("woff2"), url("lato/latolightitalic.woff") format("woff"), url("lato/latolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("lato/latoregular.woff2") format("woff2"), url("lato/latoregular.woff") format("woff"), url("lato/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Italic"), local("Lato-Italic"), url("lato/latoitalic.woff2") format("woff2"), url("lato/latoitalic.woff") format("woff"), url("lato/latoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium"), local("Lato-Medium"), url("lato/latomedium.woff2") format("woff2"), url("lato/latomedium.woff") format("woff"), url("lato/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("lato/latomediumitalic.woff2") format("woff2"), url("lato/latomediumitalic.woff") format("woff"), url("lato/latomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold"), local("Lato-Semibold"), url("lato/latosemibold.woff2") format("woff2"), url("lato/latosemibold.woff") format("woff"), url("lato/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("lato/latosemibolditalic.woff2") format("woff2"), url("lato/latosemibolditalic.woff") format("woff"), url("lato/latosemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold"), local("Lato-Bold"), url("lato/latobold.woff2") format("woff2"), url("lato/latobold.woff") format("woff"), url("lato/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("lato/latobolditalic.woff2") format("woff2"), url("lato/latobolditalic.woff") format("woff"), url("lato/latobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy"), local("Lato-Heavy"), url("lato/latoheavy.woff2") format("woff2"), url("lato/latoheavy.woff") format("woff"), url("latoheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("lato/latoheavyitalic.woff2") format("woff2"), url("lato/latoheavyitalic.woff") format("woff"), url("lato/latoheavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("lato/latoblack.woff2") format("woff2"), url("lato/latoblack.woff") format("woff"), url("lato/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("lato/latoblackitalic.woff2") format("woff2"), url("lato/latoblackitalic.woff") format("woff"), url("lato/latoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background: #EADEDA;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  color: #141111; }

h1, h2 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.2; }

h3 {
  text-transform: uppercase; }

img {
  width: 100%; }

a {
  color: #141111;
  transition: all .4s ease-in-out; }

a[class='active'] {
  color: #931F1D; }

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #B4B8C5;
  background: #FFFCF2;
  transition: all .4s ease-in-out; }

input[type='text']:hover,
input[type='text']:focus,
input[type='password']:hover,
input[type='password']:focus,
input[type='email']:hover,
input[type='email']:focus {
  box-shadow: #B4B8C5 0 0 10px;
  outline: none; }

input[type='file'] {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 60px;
  height: 60px;
  bottom: 7px; }

.form-group:focus,
select:focus {
  outline: none; }

button {
  width: 100px;
  padding: 10px;
  border: none;
  background: #931F1D;
  color: #FFFCF2;
  opacity: 1;
  transition: all .4s ease-in-out; }

button:hover {
  opacity: .7; }

.wrapper {
  background: #EADEDA;
  padding: 20px;
  margin-bottom: 100px; }

#loader,
#alert-container {
  position: absolute;
  width: 300px;
  height: 160px;
  background: #141111;
  color: #FFFCF2;
  opacity: 0.9;
  z-index: 10000;
  display: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30%; }

.alert_error {
  padding: 20px;
  text-align: center; }

.alert_error #message_type {
  font-size: 30px; }

#alert-container .alert_close {
  color: #931F1D !important;
  display: block;
  text-align: center; }

#alert-container .alert_close:hover {
  color: #FFFCF2 !important; }

.alert_error .message {
  margin-top: 10px;
  padding-left: 10px; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: none; }

.loader_frame {
  width: 100%;
  margin-top: 50px; }

.loader_frame > .loader-inner {
  left: 49%; }

.loader_frame p {
  text-align: center;
  position: relative;
  top: 45px; }

.modal-content {
  border: none;
  border-radius: 0;
  padding: 40px;
  background: #EADEDA;
  color: #141111; }

.add {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px dashed #FFFCF2;
  font-size: 40px;
  text-align: center;
  color: #FFFCF2;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 35%;
  transition: all .4s ease-in-out; }

.add:hover {
  border-color: #931F1D;
  color: #931F1D; }

.add > span {
  position: relative;
  top: 25px; }

/*  NEWS_ARTICLE  */
#news_article {
  background: #FFFCF2; }

.article_content {
  padding: 100px 0; }

.article_content h1 {
  font-size: 40px;
  margin-bottom: 40px; }

.article_text {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #B4B8C5;
  margin-bottom: 20px; }

.article_text img,
.article_text iframe {
  margin: 30px 0;
  border: 1px solid #B4B8C5;
  padding: 10px;
  width: 100%; }

.article_text p,
.article_text ul {
  margin: 10px 0; }

.article_text h3,
.article_text h2 {
  font-weight: 600;
  font-size: 22px;
  color: #931F1D;
  margin: 20px 0; }

#news_article > .image_wrapper {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-clip: border-box !important;
  background-size: cover !important;
  height: 500px; }

.article_content {
  position: relative; }

.article_content #category {
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  background: #141111;
  padding: 10px;
  color: #FFFCF2;
  margin-bottom: 50px; }

.article_extra span {
  color: #B4B8C5;
  font-size: 16px;
  font-weight: 700; }

.article_extra #date {
  float: right; }

.return {
  background: #141111;
  color: #FFFCF2;
  padding: 10px;
  position: absolute;
  transition: all .4s ease-in-out; }

.return:hover {
  opacity: .8; }

#article_category {
  width: 200px;
  padding: 5px; }

#article .image_wrapper {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border: 1px dashed #B4B8C5;
  margin-bottom: 20px; }

#article .tint p {
  color: #fff;
  position: relative;
  text-align: center;
  top: 200px; }

#article .loader-inner div {
  max-height: 10px;
  max-width: 10px;
  position: relative;
  vertical-align: middle; }

/*  NEWS_LIST  */
#news_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

#news_list .first {
  background: none;
  border: 1px dashed #B4B8C5; }

#add_article {
  left: 0;
  right: 0;
  text-align: center;
  height: 100%; }

#add_article .add {
  border-color: #B4B8C5;
  color: #B4B8C5;
  margin-bottom: 20px; }

#login {
  transition: all .4s ease-in-out; }

#admin_login {
  padding-left: 20px;
  margin-top: 50px; }

#login > a,
#user_signup > a,
#logout > a {
  padding-left: 10px;
  border-left: 1px solid #B4B8C5;
  vertical-align: middle;
  position: relative;
  color: #FFFCF2;
  font-size: 20px !important; }

.filter_categories a {
  font-weight: bold;
  font-size: 18px;
  transition: all .2s ease-in-out;
  color: #FFFCF2;
  margin-bottom: 10px;
  padding-left: 10px;
  display: block; }

#author_tag {
  padding-left: 20px;
  position: absolute;
  bottom: 30px; }

#author_tag p {
  text-align: center;
  margin-bottom: 10px; }

#author_tag,
#author_tag > a {
  color: #FFFCF2; }

#author_tag > a:hover {
  color: #931F1D; }

.filter_categories a:hover,
#login > a:hover,
#user_signup > a:hover,
#logout > a:hover {
  color: #931F1D; }

.navabar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  padding: 20px 0;
  left: 0;
  background: #141111;
  height: 100%;
  width: 200px;
  opacity: .9; }

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  background: #141111;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 10; }

.tint:hover {
  opacity: .6; }

.admin_controlls {
  bottom: 50%;
  position: absolute;
  left: 0;
  right: 0;
  color: #FFFCF2;
  text-align: center; }

.admin_controlls li {
  opacity: 1;
  display: inline-block;
  font-size: 18px;
  background: #931F1D;
  border: 1px solid #931F1D;
  padding: 10px;
  z-index: 2;
  margin-right: 10px;
  transition: all .4s ease-in-out; }

.admin_controlls li:hover {
  border: 1px solid #B4B8C5; }

.admin_controlls li > a {
  color: #FFFCF2; }

#load_more {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 165px;
  font-weight: 600; }

.errors {
  margin-top: 20px;
  border: 1px solid #931F1D;
  padding: 10px;
  display: none; }

.errors li {
  color: #931F1D;
  margin-bottom: 5px; }

/*  NEWS_ITEM_BLOCK  */
.news_item {
  width: 350px;
  height: 457px;
  background: #FFFCF2;
  transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out;
  margin-bottom: 25px;
  margin-left: 16px;
  position: relative; }

.news_item > a {
  display: block;
  position: absolute; }

.news_item:hover {
  box-shadow: #B4B8C5 0px 0px 15px;
  opacity: .8; }

.news_item_content {
  padding: 30px; }

.news_item_header {
  height: 75px; }

.news_item .image_wrapper {
  position: relative;
  max-height: 230px;
  overflow: hidden; }

.news_item_extra {
  margin-top: 20px; }

.news_item_date {
  font-weight: 800; }

.views,
.comments {
  opacity: .5;
  transition: all 0.4s ease-in-out;
  color: #931F1D; }

.views:hover,
.comments:hover {
  opacity: 1; }

.news_item_label {
  position: absolute;
  right: 0;
  background: #141111;
  color: #FFFCF2;
  padding: 15px; }

/*# sourceMappingURL=app.css.map */
