// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// Colors
$c_background : #EADEDA;
$c_layout: #FFFCF2;
$c_text: #141111;
$c_border: #B4B8C5;
$c_link: #931F1D;

@import "typography";
@import "base";
@import "news_article";
@import "news_list";
@import "news_item_block";
@import "admin/admin_base";
@import "admin/admin_login";