/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  //font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body, html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background: $c_background;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  color: $c_text;
}


h1, h2 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 15px;
  line-height:1.2;
}

h3 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: $c_text;
  transition: all .4s ease-in-out;
}

a[class='active'] {
  color: $c_link;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

input[type='text'],
input[type='password'],
input[type='email']{
  width: 100%;
  padding: 10px;
  border: 1px solid $c_border;
  background: $c_layout;
  transition: all .4s ease-in-out;
}

input[type='text']:hover,
input[type='text']:focus,
input[type='password']:hover,
input[type='password']:focus,
input[type='email']:hover,
input[type='email']:focus {
  box-shadow: $c_border 0 0 10px;
  outline: none;
}

input[type='file'] {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 60px;
  height: 60px;
  bottom: 7px;
}

.form-group:focus,
select:focus{
  outline: none;
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  background: $c_link;
  color: $c_layout;
  opacity: 1;
  transition: all .4s ease-in-out;
}

button:hover{
  opacity:.7;
}

.wrapper {
  background: $c_background;
  padding: 20px;
  margin-bottom: 100px;
}


#loader,
#alert-container{
  position: absolute;
  width: 300px;
  height: 160px;
  background: #141111;
  color: #FFFCF2;
  opacity: 0.9;
  z-index: 10000;
  display: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30%;
}

.alert_error {
  padding: 20px;
  text-align: center;
}

.alert_error #message_type {
  font-size: 30px;
}

#alert-container .alert_close {
  color: $c_link !important;
  display: block;
  text-align: center;
}

#alert-container .alert_close:hover {
  color: $c_layout !important;
}

.alert_error .message {
  margin-top: 10px;
  padding-left: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
}

.loader_frame {
  width: 100%;
  margin-top: 50px;
}

.loader_frame > .loader-inner {
  left: 49%;
}

.loader_frame p {
  text-align: center;
  position: relative;
  top: 45px;
}

.modal-content {
  border: none;
  border-radius: 0;
  padding: 40px;
  background: $c_background;
  color: $c_text;
}

.add {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px dashed $c_layout;
  font-size: 40px;
  text-align: center;
  color: $c_layout;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 35%;
  transition: all .4s ease-in-out;
}

.add:hover{
  border-color: $c_link;
  color: $c_link;
}

.add > span {
  position: relative;
  top: 25px;
}