/*  NEWS_LIST  */

#news_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#news_list .first {
  background: none;
  border: 1px dashed $c_border;
}

#add_article{
  left: 0;
  right: 0;
  text-align: center;
  height:100%;
}

#add_article .add {
  border-color: $c_border;
  color: $c_border;
  margin-bottom: 20px;
}

#login {
  transition: all .4s ease-in-out;
}

#admin_login {
  padding-left: 20px;
  margin-top: 50px;
}

#login > a ,
#user_signup > a,
#logout > a {
  padding-left: 10px;
  border-left: 1px solid $c_border;
  vertical-align: middle;
  position: relative;
  color: $c_layout;
  font-size: 20px !important;
}

.filter_categories a {
  font-weight: bold;
  font-size: 18px;
  transition: all .2s ease-in-out;
  color: $c_layout;
  margin-bottom: 10px;
  padding-left: 10px;
  display: block;
}

#author_tag {
  padding-left: 20px;
  position: absolute;
  bottom: 30px;
}
#author_tag p {
  text-align: center;
  margin-bottom: 10px;
}

#author_tag ,
#author_tag > a {
  color: $c_layout;
}

#author_tag > a:hover {
  color: $c_link;
}


.filter_categories a:hover,
#login > a:hover,
#user_signup > a:hover,
#logout > a:hover{
  color: $c_link;
}

.navabar{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  padding: 20px 0;
  left: 0;
  background: $c_text;
  height: 100%;
  width: 200px;
  opacity: .9;
}

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  background: $c_text;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}

.tint:hover {
  opacity: .6;
}

.admin_controlls {
  bottom: 50%;
  position: absolute;
  left: 0;
  right: 0;
  color: $c_layout;
  text-align: center;
}

.admin_controlls li {
  opacity: 1;
  display: inline-block;
  font-size: 18px;
  background: $c_link;
  border: 1px solid $c_link;
  padding: 10px;
  z-index: 2;
  margin-right: 10px;
  transition: all .4s ease-in-out;
}

.admin_controlls li:hover {
  border: 1px solid $c_border;
}
.admin_controlls li > a {
  color: $c_layout;
}

#load_more {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 165px;
  font-weight: 600;
}

.errors {
  margin-top: 20px;
  border: 1px solid $c_link;
  padding: 10px;
  display: none;
}

.errors li {
  color: $c_link;
  margin-bottom: 5px;
}