/*  NEWS_ITEM_BLOCK  */

.news_item {
  width: 350px;
  height: 457px;
  background: $c_layout;
  transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out;
  margin-bottom: 25px;
  margin-left: 16px;
  position: relative;
}

.news_item > a {
  display: block;
  position: absolute;
}

.news_item:hover {
  box-shadow: $c_border 0px 0px 15px;
  opacity: .8;
}

.news_item_content {
  padding: 30px;
}

.news_item_header {
  height: 75px;
}

.news_item .image_wrapper {
  position: relative;
  max-height: 230px;
  overflow: hidden;
}

.news_item_extra {
  margin-top: 20px;
}

.news_item_date {
  font-weight: 800;
}

.views,
.comments {
  opacity: .5;
  transition: all 0.4s ease-in-out;
  color: $c_link;
}
.views:hover,
.comments:hover {
  opacity: 1;
}

.news_item_label {
  position: absolute;
  right: 0;
  background: $c_text;
  color: $c_layout;
  padding: 15px;
}