/*  NEWS_ARTICLE  */

#news_article {
  background: $c_layout;
}

.article_content {
  padding: 100px 0;
}

.article_content h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.article_text {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid $c_border;
  margin-bottom: 20px;
}

.article_text img,
.article_text iframe {
  margin: 30px 0;
  border: 1px solid $c_border;
  padding: 10px;
  width: 100%;
}

.article_text p,
.article_text ul {
  margin: 10px 0;
}

.article_text h3,
.article_text h2{
  font-weight: 600;
  font-size: 22px;
  color: $c_link;
  margin: 20px 0;
}

#news_article > .image_wrapper {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-clip: border-box !important;
  background-size: cover !important;
  height: 500px;
}

.article_content {
  position: relative;
}

.article_content #category {
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  background: $c_text;
  padding: 10px;
  color: $c_layout;
  margin-bottom: 50px;
}

.article_extra span {
  color: $c_border;
  font-size: 16px;
  font-weight: 700;
}

.article_extra #date {
  float: right;
}

.return {
  background: $c_text;
  color: $c_layout;
  padding: 10px;
  position: absolute;
  transition: all .4s ease-in-out;
}

.return:hover {
  opacity: .8;
}

#article_category {
  width: 200px;
  padding: 5px;
}

#article .image_wrapper {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border: 1px dashed $c_border;
  margin-bottom: 20px;
}

#article .tint p {
  color: #fff;
  position: relative;
  text-align: center;
  top: 200px;
}

#article .loader-inner div {
    max-height: 10px;
    max-width: 10px;
    position: relative;
    vertical-align: middle;
}


